{% extends "layouts/auth.njk" %}

{% block title %} Login {% endblock %}

{% block content %}
  <div class="auth-box">
    <div class="card">
      <div class="card-header">
        <h1 class="h4">Login</h1>
      </div>
      <div class="card-body">
        <div class="form">
          <label>Email</label>
          <input type="email" class="input" placeholder="Email">
        </div>
        <div class="form">
          <label>Password</label>
          <input type="password" class="input" placeholder="Password">
        </div>
        <div class="form">
          <label class="checkbox-control">
            <input type="checkbox" class="checkbox-input" name="remember">
            <div class="checkbox-box">
              <span>Remember Me</span>
            </div>
          </label>
        </div>
        <button class="button button-blue w-full mb-2">Login</button>
        <a href="register.html" class="link">Doesn't have account? Register Here</a>
      </div>
    </div>
  </div>
{% endblock %}