{% import "component/sidebar.njk" as sidebar %}

{% extends "layouts/app.njk" %}

{% block title %} Pagination {% endblock %}

{% block sidebar %}
  {{ sidebar.sidebar(active='pagination', menus = menus) }}
{% endblock %}

{% block content %}
  <div class="main-header">
    <h1 class="h2 main-title">Pagination</h1>
    <p class="main-subtitle">Guide to creating pagination</p>
  </div>

  <div class="row">
    <div class="col w-full lg:w-1/2">
      <div class="card mb-4">
        <div class="card-header">
          <h2 class="h6">Pagination</h2>
        </div>
        <div class="card-body">
          <ul class="pagination">
            <li class="pagination-item"><span class="pagination-link">&laquo;</span></li>
            <li class="pagination-item"><a href="" class="pagination-link active">1</a></li>
            <li class="pagination-item"><a href="" class="pagination-link">2</a></li>
            <li class="pagination-item"><a href="" class="pagination-link">3</a></li>
            <li class="pagination-item"><a href="" class="pagination-link">4</a></li>
            <li class="pagination-item"><span class="pagination-link">...</span></li>
            <li class="pagination-item"><a href="" class="pagination-link">5</a></li>
            <li class="pagination-item"><a href="" class="pagination-link">6</a></li>
            <li class="pagination-item"><a href="" class="pagination-link">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}