<!DOCTYPE html>
<html lang="en">
<head>
  
  {% include "partials/head.njk" %}

  <title>{% block title %} {% endblock %}</title>

</head>
<body class="auth">

  {% block content %} {% endblock %}

  <script src="{% if publicPath %}/{{ publicPath }}/js/script.js{% else %}../js/script.js{% endif %}"></script>
    
  {% block js %} {% endblock %}

</body>
</html>